/*
 * Colors:
 * - body background: #f3f3f3
 * - default text color: #333;
 */

/*** Fonts ***/

/* for browsers that support rem unit */
html {

  font-size: 75%; /* = 9pt */

}

body, button {

  font-family: 'Asap', sans-serif;

  /* for browser that don't support rem unit */
  font-size: 75%; /* = 9pt */
  font-size: 1rem;

}

header h1 {

  font-size: 3.55em; /* = 32pt */
  font-size: 3.55rem;

}

header, header nav {

  font-size: 1.22em;
  font-size: 1.22rem; /* = 11pt */

}


/*** Elements ***/

html {

  height: 100%;

}

body {

  transition: background-color .4s ease, color .4s ease;

  color: #333;
  background-color: #f3f3f3;

  margin: 0;
  padding: 0; 

  line-height: 155%; /* = 14pt */

}

body.dark {

  transition: background-color .4s ease, color .4s ease;

  background-color: #303030;
  color: black;

}

body.dark a,
body.dark h1,
body.dark h2 {

  transition: color .4s ease;
  color: black;

}

body.dark img {

  opacity: .1;

}

header {

  padding-bottom: 50px;

}

a {

  color:#333333; 
  text-decoration:none; 
  transition: color .4s;

}

a:hover { 

  color:#FF0000; 
  transition: color .4s;

}

a img {

  border: none;

}

/* make button looks like a link */
button.like-link {

  color:#333333; 

  border-width: 0;
  border-style: none;
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  padding: 0;
  margin: 0;

  cursor: pointer;
  text-decoration: underline;

}

button.like-link:hover {

  color:#FF0000; 
  transition: color .5s;

}

article h2 {

  margin: 60px 0 20px 0;

}

/* don't use italic */

blockquote,
cite,
q,
i {

  font-style: normal;

}

/* generate quotation marks */

blockquote q:before, 
blockquote i:before {

  content: '“';

}

blockquote q:after,
blockquote i:after {

  content: '”';

}

cite:before,
cite:after {

  content: '\'';

}

footer {

  color: #bbb;
  padding-bottom: 15px;

}

/* elements with zero margin */

blockquote,
figure {

  margin: 0;

}

/*** Components of site design ***/

#all {

  width: 800px;

}

header {

  margin: 0 auto;

}

header h1 {

  margin-top: 0px;
  padding-top: 25px;
}

h1 {

  font-weight: normal;
  line-height: 2.8em;
  line-height: 2.8rem;

  /* fixes ie line-height bug */
  *line-height: 14pt;
  *+line-height: 14pt;
  line-height: 14pt\9;

}

header nav {

  display: inline-block;

  /* in case #breadcrumbs take more than 1 line */
  vertical-align: top;

}

header nav ul {

  list-style-type: none;
  padding: 0;
  margin: 0;

}

header nav ul li {

  display: inline;

}

/* Insert dash ("-") between main navigation links... */
header nav ul li:after {

  content: "-";

}

/*... but not if it's the last link */
nav ul li:last-child:after {

  content: '';

}

ul#breadcrumb {

  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0;
  list-style-type: none;
  
}

ul#breadcrumb li:before {

  content: '>';

}

ul#breadcrumb li {

  display: inline;

}

/*** Classes ***/

img.thumb {

  width: 255px;

}

img.height-180 {

  height: 180px;

}

div.links-underline,
a.underline {

  text-decoration: underline;

}

p.attribution a {

  text-decoration: underline;

}


section.gallery {

  padding-bottom: 25px;
  width: 800px;

}

section.gallery figure,
section.gallery div.description {

  display: inline-block;

}

section.gallery figure {

  width: 300px;
  margin-right: 10px;

}

section.gallery div.description {
    
  width: 480px;
  vertical-align: top;

}

div.description h1 {

  margin-top: 0;
  font-size: 1.17em;
  font-size: 1.17rem;

}

/* by default, show full description */
button.read-more {

  display: none;

}

/* ...see in dark/light buttons */

button.toggle-light {

  transition: all .1s;

  position: relative;
  top: 0;

  border: none;
  border-radius: 4px;

  padding: 10px 13px;

}

button.toggle-light:active {

  transition: all .1s;

  top: 2px;

  box-shadow: 0 0 4px rgba(0, 0, 0, .7) inset;

}

body button.toggle-light {

  background-color: #e1e1e1;
  color: #5f5f5f;

}

body.dark button.toggle-light {

  background-color: #5f5f5f;
  color: #e1e1e1;

}

ol.without-numbers,
ol.without-numbers ol {

  list-style-type: none;

  margin: 0;
  padding: 0;

}

ol.without-numbers > li {

  padding: 0 0 20px 0;

}

ol.without-numbers > li:last-child {

  padding: 0;

}

.only-text {

  max-width: 600px;
}

.photo-list img {
  margin-bottom: 25px;
}

/*** Make footer stick bottom */

body {

  height: 100%;

}

footer {

  height: 1em;
  margin: 0 auto;
  max-width: 800px;

  position: absolute;
  bottom: -4em;
  
}

.small-content + footer {

  bottom: 1em;

}

#preview-wrapper + footer {

  position: static;
  margin-top: 30px;

}

#all {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  margin: 0 auto -4em;

  position: relative;

}

/*** IE7 ***/
section.gallery, header {

  *overflow: auto;

}

section.gallery .describe,
section.gallery figure,
header nav,
header #breadcrumb {

  *float: left;

}



/*** Responsive Design ***/

/* All handhelds in landscape orientation */
@media screen and (orientation: landscape) and (max-width: 799px) {


  .small-content + footer {

    bottom: -3em;

  }

}

/* Make sure gallery img fits screen on landscape smartphones (640px) */
@media screen and (orientation: landscape) and (max-width: 640px),
screen and (max-width: 640px) {

  section.gallery figure, section.gallery figure img {
    max-width: 250px;
  }

}

/* Retina displays */
@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 


}

/* This solves retina landscape text scaling bug */
@media (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), 
(min-resolution: 192dpi) and (orientation: landscape) {

  body {
    -webkit-text-size-adjust: 100%;
  }

}

/* make full-size images fit the device width */
@media screen and (max-width: 799px) {

  img#preview, .photo-list img {
    width: 100%;
    height: auto;
  }

}

/* Grid setup */

/* Bigger screens (600px-799px) */

@media screen and (min-width: 600px) and (max-width: 799px) {

  body {

    padding: 0 0 0 15px;

  }

  #all, .gallery {

    width: 585px !important;

  }

  .gallery .description {

    width: 265px !important;

  }

}

/* Landscape newer phones (iPhone 5) */

@media screen and (orientation: landscape) and (min-width: 500px) and (max-width: 599px) {

  body {

    padding: 0 0 0 15px;

  }

  #all, .gallery {

    width: 525px !important;

  }

  .gallery .description {

    width: 260px !important;

  }

}

/* Landscape phones (iPhone 4S) */

@media screen and (orientation: landscape) and (max-width: 499px) {  

  body {

    padding: 0 0 0 5px;

  }

  #all, .gallery {

    min-width: 465px;
    width: 100% !important;

  }

  .gallery .description {

    width: 210px !important;

  }

}

/* end of grid setup */

/* Portrait phones */

@media screen and (orientation: portrait) and (max-width: 599px) { 

  body {

    margin: 0 5px 0 15px;

  }

  #all, .gallery {
    width: 100% !important;
  }

  section.gallery {

    background: url(mobile_divider.png) repeat-x bottom center;
    margin-top: 25px;

  }

  body.dark .gallery {

    background-image: url(mobile_divider-dark.png);

  }

  .gallery:first-child {

    margin-top: 0;

  }

  section.gallery:last-child {

    background: none;
    
  }

  section.gallery figure {

    max-width: 100%;
    margin: 10px 0;

  }

  section.gallery figure,
  section.gallery div.description {

    display: block;
    width: 100%;
    max-width: 100%;

  }

  /* display "read more" widget and hide some text */
  .more {

    transition: 1.25s linear;
    opacity: 0;
    visibility: hidden;
    height: 0px;
    margin: 0;

  }

  button.read-more {

    display: block;

  }

  /* JavaScript adds class "pressed" when button was clicked */
  button.read-more.pressed {

    display: none;

  }

  /* show element of class "more" that follows "read more" button */
  button.read-more.pressed + .more,
  .more-visible {

    opacity: 1 !important;
    visibility: visible !important;
    height: auto !important;
    margin: auto !important;

  }

  #breadcrumb ul {

    margin-left: 0;

  }

  .small-content + footer {

    bottom: -3em;

  }

}

