<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Yerka, Mela, Melania, Mela Yerka, artist, art, painter, canvas, oil on canvas, oil colours, picture, painting, Poland, England, United Kingdom, London, Warsaw, ASP Warszawa, Central Saint Martins, MA Fine Art, Maria Stenfors" name="keywords" />
  <meta content="{{ site.url }}" property="og:site_name" />
  <meta content="website" property="og:type" />
  <meta content="{{ site.description }}" property="og:description" />
  <link href="{{ '/favicon.ico' | relative_url }}" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript" src="//use.typekit.net/fut1tws.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- GoogleFont Victor Mono-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <!-- GoogleFont end -->
  <link rel="stylesheet" href="{{ '/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/foundation.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script src="{{ '/components/jquery/dist/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/components/modernizr/modernizr.js' | relative_url }}"></script>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
</head>

