<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Yerka, Mela, Melania, Mela Yerka, artist, art, painter, canvas, oil on canvas, oil colours, picture, painting, Poland, England, United Kingdom, London, St Albans, Warsaw, ASP Warszawa, Central Saint Martins, MA Fine Art, Cass Art Prize, Maria Stenfors">
<meta property="og:site_name" content="melayerka.com">
<meta property="og:type" content="website">
<meta property="og:description" content="Mela Yerka. Graduated in 2011 from Central Saint Martins, London, having previously studied at the Academy of Fine Arts in Warsaw, Poland. Mela is the winner of the Cass Art Painting Prize 2011. Polish born, she now lives and works in St Albans. She exhibits her work internationally.">
<link href="{{ site.baseurl }}/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Finlandica+Headline:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/foundation.css">
<link rel="stylesheet" href="{{ site.baseurl }}/typography.css">
<link rel="stylesheet" href="{{ site.baseurl }}/app.css">
<script src="{{ site.baseurl }}/components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/components/modernizr/modernizr.js"></script>
{% if page.title and page.year %}
<title>{{ page.title }}, {{ page.year }} — Mela Yerka</title>
{% elsif page.title %}
<title>{{ page.title }} — Mela Yerka</title>
{% else %}
<title>Mela Yerka</title>
{% endif %}
