// Gallery styles
ol.gallery {
  margin-left: 0;
  list-style-type: none;
  font-size: 44px;

  @media only screen and (min-width: 64.063em) {
    span.year {
      display: block;
      font-size: 15px;
      line-height: 27px;
      font-weight: 100;
      padding-bottom: calc(42px - 19px);
    }

    li:not(:first-child) {
      margin-top: 50px;
    }
  }
}

.gallery-images {
  display: none;

  @media only screen and (min-width: 64.063em) {
    display: block;

    img {
      height: 150px;
    }

    a {
      display: inline-block;
      margin-bottom: 40px;

      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
}

.year {
  font-size: 44px;
  padding-bottom: calc(90px - 52px);
  line-height: 44px;

  @media only screen and (min-width: 64.063em) {
    font-size: 19px;
    line-height: 27px;
    padding-bottom: calc(42px - 19px);
    font-weight: 100;

    .description {
      font-size: 19px;
    }
  }
}


