---
layout: default
---
<main>
  {% include nav.html %}
  <div class="main-content">
    <div class="menu-trigger hide-for-large-up"><a href="{{ site.baseurl }}/exhibitions.html">Back</a></div>
    <section class="showcase">
      <header>
        <h1>{{ page.title }}</h1>
        {% if page.type %}<h3>{{ page.type }}</h3>{% endif %}
        {% if page.venue %}
          {% if page.venue_url %}
            <h3><a href="{{ page.venue_url }}" target="_blank">{{ page.venue }}</a></h3>
            <h3><a href="{{ page.venue_url }}" target="_blank">{{ page.dates }}</a></h3>
          {% else %}
            <h3>{{ page.venue }}</h3>
            <h3>{{ page.dates }}</h3>
          {% endif %}
        {% endif %}
        {% if page.description %}<h3>{{ page.description }}</h3>{% endif %}
        {% if page.links %}
          {% for link in page.links %}
            <h3><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></h3>
          {% endfor %}
        {% endif %}
      </header>
      {% if page.images %}
        {% for img in page.images %}
          <img src="{{ site.baseurl }}/images/{{ img.file }}">
        {% endfor %}
      {% else %}
        {{ content }}
      {% endif %}
      <footer class="bottom-menu show-for-large-up">
        <div class="menu-trigger hide-for-large-up"><a href="{{ site.baseurl }}/">Menu</a></div>
      </footer>
    </section>
    <div class="hide-for-small">
      {% include footer.html %}
    </div>
  </div>
</main>
