---
layout: default
---
<main>
  {% include nav.html %}
  <div class="main-content">
    <div class="hide-for-large-up">
      <span class="index-title"><a href="{{ site.baseurl }}/">Mela Yerka</a></span>
      <div class="index-menu"></div>
      <ul class="menu">
        <li>Works
          <ul class="hide-for-large-up series">
            <li><a href="{{ site.baseurl }}/mini-series_Mars.html">Mars</a></li>
            <li><a href="{{ site.baseurl }}/mini-series_Feral.html">Feral Children</a></li>
            <li><a href="{{ site.baseurl }}/mini-series_Women.html">19th Century Women</a></li>
            <li><a href="{{ site.baseurl }}/mini-series_Grimm.html">Grimm Tales</a></li>
            <li><a href="{{ site.baseurl }}/mini-series_Dead.html">Dead</a></li>
            <li><a href="{{ site.baseurl }}/mini-series_War.html">Beautiful Painting of War</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/bio.html">Bio</a></li>
        <li><a href="{{ site.baseurl }}/statement.html">Statement</a></li>
        <li><a href="{{ site.baseurl }}/exhibitions.html">Exhibitions</a></li>
        <li><a href="https://www.instagram.com/melayerka/" target="_blank">Instagram</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="index-gallery">
      {% assign sorted = site.artworks | sort: "year" | reverse %}
      {% assign years_seen = "" %}
      <ol class="gallery">
        {% for work in sorted %}
          {% assign yr = work.year | append: "" %}
          {% unless years_seen contains yr %}
            {% assign years_seen = years_seen | append: yr | append: "," %}
            {% assign year_works = site.artworks | where: "year", work.year | sort: "name" %}
            <li>
              <span class="year"><a href="#">{{ work.year }}</a></span>
              <div class="gallery-images">
                {% for w in year_works %}
                  <a href="{{ w.url | prepend: site.baseurl }}?ctx=year" data-image="{{ site.baseurl }}/images/{{ w.image_thumb }}"></a>
                {% endfor %}
              </div>
            </li>
          {% endunless %}
        {% endfor %}
      </ol>
    </div>
    <div class="hide-for-small">
      {% include footer.html %}
    </div>
  </div>
</main>
