---
layout: default
---
{% assign series_data = site.data.series | where: "id", page.series_id | first %}
{% assign works = site.artworks | where: "series", page.series_id | sort: "name" %}
<main>
  {% include nav.html %}
  <div class="main-content">
    <div class="menu-trigger hide-for-large-up"><a href="{{ site.baseurl }}/">Menu</a></div>
    <section class="showcase">
      <header>
        <h1>{{ series_data.name }}</h1>
        <h2>{{ series_data.years }}</h2>
        <h3>{{ series_data.description }}
          {% if series_data.links %}
            {% for link in series_data.links %}<a href="{{ link.url }}" target="_blank">{{ link.text }}</a>{% endfor %}
          {% endif %}
        </h3>
        {% for work in works %}
          <h4>{{ work.title }}</h4>
          <h5>{{ work.dimensions }}, {{ work.medium }}, {{ work.year }}</h5>
          <a href="{{ work.url | prepend: site.baseurl }}?ctx=series"><img src="{{ site.baseurl }}/images/{% if work.image_dark %}{{ work.image_dark }}{% else %}{{ work.image_light }}{% endif %}"></a>
        {% endfor %}
      </header>
    </section>
    <footer class="bottom-menu">
      <div class="menu-trigger"><a href="{{ site.baseurl }}/">Menu</a></div>
    </footer>
    <div>
      {% include footer.html %}
    </div>
  </div>
</main>
