---
layout: default
---
<div class="menu-trigger hide-for-large-up"><a href="{{ '/exhibitions.html' | relative_url }}">Back</a></div>
<section class="showcase">
  {% if page.showcase_header %}
  <header>
    {% if page.showcase_header.title %}<h6><a href="{{ page.showcase_header.link | relative_url }}">{{ page.showcase_header.title }}</a></h6>{% endif %}
    {% if page.showcase_header.medium %}<h5>{{ page.showcase_header.medium }}</br>{{ page.showcase_header.year }}</h5>{% endif %}
    {% if page.showcase_header.link and page.showcase_header.image %}
    <a href="{{ page.showcase_header.link | relative_url }}"><img src="{{ page.showcase_header.image | relative_url }}" alt="{{ page.showcase_header.title }}"></a>
    {% endif %}
  </header>
  {% endif %}
  {{ content }}
  <footer class="bottom-menu show-for-large-up">
    <div class="menu-trigger hide-for-large-up"><a href="{{ '/' | relative_url }}">Menu</a></div>
  </footer>
</section>
<div class="hide-for-small">
  <footer class="copyright">Copyright © 2009-{{ site.time | date: "%Y" }} Mela Yerka</footer>
</div>

